packages/
bin/
obj/
*.suo
Web/MS.Extranet.Angularjs/MS.Extranet.Angularjs/Images/Stores/
Web/MS.Extranet.Angularjs/MS.Extranet.Angularjs/Images/Profiles/
Web/MS.Extranet/MS.Extranet.Angularjs/Images/Profiles/
Web/MS.Extranet/MS.Extranet.Angularjs/Images/Stores/
Aplications/MS.TaskProcessor/MS.TaskProcessor/Logs/
Web/MS.Extranet/MS.Extranet.Angularjs/Images/Posts/
Web/MS.Web/MS.Web/Images/Stores/
Database/MS.Database/MS.Database/MS.Database.dbmdl
Web/MS.Web/.vs/config/applicationhost.config
Web/MS.Extranet/.vs/config/applicationhost.config
Aplications/MS.TaskProcessor/MS.TaskProcessor/App.config
Core/MS.CommandQuery.Core/App.config
Web/MS.Web/MS.Web/Views/Web.config
Web/MS.Web/MS.Web/Web.config
Web/MS.Web/MS.Web/Web.Release.config
Web/MS.Web/MS.Web/Web.Debug.config
Web/MS.Extranet/MS.Extranet.Angularjs/Web.config
Web/MS.Extranet/MS.Extranet.Angularjs/Web.Release.config
Web/MS.Extranet/MS.Extranet.Angularjs/Web.Debug.config
Core/MS.CommandQuery.Infrastructure/App.config
